In [1]:
import pandas as pd
from datetime import date, datetime
import sqlalchemy
from sqlalchemy import create_engine, Column, Integer, String, FLOAT,DATETIME, DateTime
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [3]:
df_hm = pd.read_csv("Resources/hawaii_measurements.csv")
df_hs = pd.read_csv("Resources/hawaii_stations.csv")
df_hm.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
df_hs.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [5]:
df_hm['date'] = df_hm['date'].apply(lambda x: datetime.strptime(x,"%Y-%m-%d"))
df_hm.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [6]:
class Measurement(Base):
    __tablename__ = 'measurement'
    __table_args__ = {'extend_existing': True}  # to replace the existing table
    measurement_id = Column(Integer, autoincrement = True, primary_key=True)
    station_id = Column(String)
    date = Column(DateTime)
    prcp = Column(FLOAT)
    tobs = Column(Integer)

In [7]:
class Station(Base):
    __tablename__= 'station'
    __table_args__ = {'extend_existing': True} 
    station_id = Column(String, primary_key = True)
    name = Column(String)
    latitude = Column(FLOAT)
    longitude = Column(FLOAT)
    elevation = Column(FLOAT)

In [10]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite", echo=False)

In [11]:
Base.metadata.create_all(engine)

In [12]:
from sqlalchemy.orm import Session
session = Session(engine)

In [13]:
for index, row in df_hm.iterrows():
    session.add(Measurement(station_id=row['station'], date=row['date'], prcp=row['prcp'], tobs=row['tobs']))

In [14]:
for index, row in df_hs.iterrows():
    session.add(Station(station_id=row['station'], name=row['name'], latitude=row['latitude'], longitude=row['longitude'],
                       elevation=row['elevation']))

In [17]:
session.commit